{% extends 'base.html' %}
{% block content %}
<div class="container my-5">
<div class="row">
{% for list in healthCare_OnlineConseltant_list %}
<div class="col-md-4">
  <div style="width: 20rem;">
    <img src="{{ list.photo.url }}" class="card-img-top" alt="..." style="width:20rem; height:18rem;">
    <div class="card-body">
      <h6>{{list.title}}</h6>
      <p style="font-size: 15px;">{{list.description}}</p>
      <a href="{% url 'applynow' %}" class='btn btn-secondary' style="background: rgb(21, 243, 225);">Apply Now</a>
    </div>
  </div>
  </div>
  {%endfor%}
  </div>
  </div>

     {% endblock %}