{% extends 'base.html'%}
{%load static%}
{%block content%}
<section>
  <div>
    <img src="{% static 'img/slider3.png'%}" alt="">
  </div>
</section>
<section>
<div class="container">
<div class="row">
    <div class="col-md-5 my-5">
        <p class="my-4"><i>For Any Enquiry, Contact us at
        info@ephysioneeds.com</i></p>
        
        <p><i>Want to spread the wave of knowledge, become an instructor. Contact us at instructor@e-physioneeds.com</i></p>
        <p><i>Together we can make a better world, Partner with us. Contact us at partner@e-physioneeds.com</i></p><br><br>
    <i class="fa fa-whatsapp fa-1x" aria-hidden="true" style="color:green;"></i> (+91) 8800220066,  (+91) 8800029429, (+256) 778866339
    </div>
    <div class="col-md-1 my-5 text-center">
  </div>

    <div class="col-md-5 my-5" style="background:rgb(175, 170, 170);">
        <div class="text-center my-3">
          <div><span style="height:10px; width:10px; background:linear-gradient(to right,cyan,#30bee2); border-radius: 50%; display: inline-block; margin: 3px;"></span><span style="height:10px; width:10px; background:linear-gradient(to right,cyan,#30bee2); border-radius: 50%; display: inline-block; margin:3px; margin-left: 5px;"></span><spen style="margin:0 20px; letter-spacing: 10px;">SEND US A MESSAGE</spen><span style="height:10px; width:10px; background:linear-gradient(to right,cyan,#30bee2); border-radius: 50%; display: inline-block; margin: 3px;"></span>
            <span style="height:10px; width:10px; background:linear-gradient(to right,cyan,#30bee2); border-radius: 50%; display: inline-block; margin:3px;"></span></div>
        </div>
        <form action="{% url 'contactus' %}" method="POST" class="p-5">
            {% csrf_token %}
              <div class="form-group">
              
              <input type="text" name="first_name" class="form-control" placeholder="Enter first name" required>
            </div>
            <div class="form-group">
              
              <input type="text" name="last_name" class="form-control" placeholder="Enter last name" required>
            </div>
            <div class="form-group">
              
              <input type="text" name="phone" class="form-control" placeholder="Enter phone number" required>
            </div>
            <div class="form-group">
              
              <input type="email" name="email" class="form-control" placeholder="Enter email address" required>
            </div>
            <div class="form-group">
              
              <textarea type="text" name="message" class="form-control" placeholder="Enter your message" required></textarea>
            </div>
            <input type="submit" value="Submit" class="btn btn-secondary btn-block">
          </form>
    </div>
</div>
</div>
</section>
{%endblock%}
