{% extends 'base.html' %}
{% block content %}
<section class="container my-3">
<p>These terms and conditions administer the manner by which we flexibly provide any e-learning courses.
If you don&#39;t mind read these terms cautiously before you present your request to us. These terms let you know about our
identity; the means by which we will give items to you; how you and we can change or end the agreement; what to do if
there is an issue, and other significant data. All rights not explicitly conceded in these terms are therefore saved.
You consent to review this agreement occasionally to guarantee that you know about any corrections to this
understanding, which may be made anytime.</p>
<h6>About Us</h6>
<p>E-Physioneeds Pvt. Ltd. is India’s one of the largest online healthcare certification and training company registered in
New Delhi, India.</p>
<h6>Contact</h6>
<p>-Physioneeds(OPC) Pvt. Ltd.<br>
58, UGF, Nr Paschim Vihar Metro Station East, Paschim Vihar Extension, New Delhi, India - 110063</p>
<h6>Grant Of Licence</h6>
<p>In consideration of your payment, we hereby grant you a licence to use the purchased e-learning courses. This licence is
limited, revocable, non-exclusive, non-sublicensable and non-transferable, and is subject to the rights and obligations
granted under these Terms.</p>
<p>This licence is personal to you and cannot be shared or exchanged with others.</p>
<h6>General</h6>
<p>We develop, distribute and maintain the courses and will also provide you with login details. We will also manage your
access to the courses and provide support to you, where necessary.<br>
You shall not copy, modify, transmit, distribute or in any way exploit the courses or any other copyrighted materials
provided other than for your individual training. Any other purpose is expressly prohibited under these terms. You shall
also not permit anyone else to copy, use, modify, transmit, distribute or in any way exploit the courses material, videos or
any other copyrighted materials.<br>
We provide the materials ‘as is’ and without any warranties, whether express or implied, except those that cannot be
excluded under the statute. We also do not warrant that the materials will be error-free, including technical inaccuracies
though our experts have worked diligently for the same.</p>
<h6>Access To Materials</h6>

<p>The starting date of your access to the course is deemed to be the date that you first get access. We will attempt to contact
you before your access period has ended. Where this is the case, we cannot guarantee that certification or completion (as
appropriate) will be possible. As such, it is your responsibility to ensure that you complete the content within the
allocated time period. If you do not think this will be possible, then extensions of time are available for purchase at
an additional cost.</p>
<b>* However, the Application form has to be filled by the student and will be processed only after the payment is
realized/received by E-Physioneeds.</b>
<p>We will take all commercially reasonable steps to provide you with uninterrupted access to the courses. However, your
access may be restricted from time to time for reasons beyond our control. Such reasons include force majeure events,
power outages and actions from computer hackers and others acting outside the law. Your access may also be interrupted
due to software issues, server downtime, increased Internet traffic, programming errors, regular maintenance and other
related reasons. Where this is the case, we will take commercially reasonable steps to restore your full access within a
reasonable period of time. ‘Commercially reasonable’ in these terms shall mean reasonable efforts taken in good faith,
without unduly burdensome use or expenditure of time, resources, personnel or money.<br>
Our joint aim is to provide courses and materials of the highest quality. As such, improvements or changes to the courses
or any other materials may occur at any time without prior notification in order to ensure that they are up to date and
accurate.<br>
Where your access to the courses is restricted for any of the above reasons, we may provide you with a free extension of
time at our sole discretion.<br>
The student needs to log in to the account within 30 days of the course activation, failing which the account would get
into Suspension mode and reactivation charges of INR 300 + taxes will be applicable to reactivate the account.<br>
PS: Candidates shall be eligible to attend, contact program only after full payment of fee and successfully completing
study modules, internal exams and any other criterion set by the course coordinator.<br>
E-Physioneeds reserves the right to disqualify a candidate for providing false information, submitting improper
documents or for misconduct in a particular course.<br>
E-Physioneeds reserves the right to revise / change the curriculum, the course structure or course delivery methodology
without prior notice.</p>
<h6>Pricing And Payment</h6>
<p>We use third-party payment providers, depending on the way in which you make payments – PayU money, PayPal,
Paytm, etc. Payment for the courses must be made at the point of purchase.<br>
• Online payments can be done using Credit Card also.<br>
• Cash Payments subject to the submission of PAN and Aadhar Card.<br>

• NEFT payment to be made to the following account.<br>
• Cheque / Demand Draft to be drawn in favour of ‘E-Physioneeds Pvt. Limited’. Kindly write your Name, Address &amp;
Phone Number on the reverse side of the Cheque / Demand Draft.<br>

S.NO Account Name Bank &amp; Branch Account No Ifsc/neft/rtgs Code Swift Code
1 E-Physioneeds Pvt. Ltd. NIT-2 Faridabad 50200048366510 HDFC0002445 HDFCINBB

<p>You agree to provide payment for the courses in the stipulated currency and you will be liable to pay any relevant
conversion charges, as well as applicable sales tax in your region. Please note that we must receive your payment in full
before providing you with access to the Products.<br>
Your payment includes the licensing of the courses for a limited period of time that is appropriate for the eLearning
content. We are unable to provide a refund if you fail to complete the content within the allocated time, except at our
absolute and sole discretion.<br>
We reserve our right to review and change the pricing of any of our courses. This will not affect courses that have already
been purchased.</p>
<b>Late Payment Penalty</b> –<p> Penalty of 2% of the course fee shall be levied if the payment is received after 10 days from the
date of the invoice or amount due date.<br>
In case the Cheque is dishonoured, an additional charge of 250/- will be levied.</p>
<h6>Cancellation And Restriction Policy</h6>
<p>Where courses are delivered to you immediately, you will not have the right to change your mind.<br>
Fees once paid will not be refunded from the date of login credentials issued. Fee transfer to another person is not
entertained under any circumstances. From day of enrolment to 1week, change of course, can be accommodated and
beyond 1 week, the amount paid will be forfeited.<br>
It is your responsibility to ensure that you meet the system requirements, including compatible hardware, software,
telecommunications equipment and Internet service, prior to purchasing any content. We are unable to provide refunds
where your access to the courses is inhibited due to insufficient system requirements.<br>
We may restrict your access to the courses if you breach these terms, including without limitation: a) A failure to make
any payment due to us; or b) Failure to provide accurate information that is necessary for us to provide the courses to
you.<br>
In these circumstances, we will inform you in writing/call with seven (7) days’ notice that your access to the courses will
be restricted.</p>

<h6>Intellectual Property</h6>
<p>All rights, title and interest in intellectual property rights relating to the courses including copyright, patents, trademarks,
trade secrets, improvements, developments, proprietary information, know-how, processes, methods, business plans or
models (including computer software and preparatory and design materials thereof) and all other intellectual property
(whether registered or not) developed or created from time to time shall exclusively be owned by E-Physioneeds Pvt. Ltd.
While you may utilize the intellectual property, you understand that there shall be no transfer of ownership of the same.
Nothing that you see or read in the courses may be copied, reproduced, modified, distributed, transmitted, republished,
displayed or performed for commercial use.<br>
All other trademarks, service marks and trade names in this material are the marks of the respective owners and any
unauthorised use is prohibited.</p>
<h6>Our Responsibility For Loss Or Damage Suffered By You</h6>
<p>We are not liable to you in any way for any indirect, special, incidental, punitive or consequential damages of any
character, including without limitation damages for loss of goodwill, work stoppage, computer failure or malfunction,
loss of data, loss of productivity or contract or any and all other commercial damages or losses.</p>
<h6>Refund Policy</h6>
<p></p>Thank you for buying our courses. We want to make sure that our users have a rewarding experience while they are
discovering information, assessing, and purchasing our courses, whether it may be for online or classroom training
courses or events.<br>
As with any online purchase experience, the below are the terms and conditions that govern the Refund Policy. When you
buy a course on the E-Physioneeds website you agree to our Privacy Policy &amp; Terms of use policy and the points below.
</p>
<h6>Cancellation &amp; Refunds:</h6>
<p>We understand that you can change your mind. We know that some of our courses might not be 100% relevant to you in
your current job role. That is why we give you the freedom to ask for a complete refund of your course fee within 3
calendar days of course activation.<br>
If the cancellation is done by the customer within 24 hours of subscribing, 100% of the course fee paid will be refunded.
If the cancellation is done after 24 hours till 7 days, 20% of the course fee will be deducted as administrative charges and
the balance will be refunded to your account.<br>
If the cancellation is done by the student after 7 days of course activation, no refund will be made.<br>
The student has to submit the documents within 15 days or before that by downloading the certificate.<br>
Post submitting the documents, if we see that the student is ineligible for the course then the course will be deactivated.
The fee paid will not be refunded. But if it’s within 7 days of activation then we shall refund.<br>
A student can raise the refund only within 7 days of activating the account.<br>

A student can raise the request for change of course within 2 days of activation.<br>
Refund is not applicable in scenarios where the student is not able to submit the documents on or before downloading the
certificates.<br>
Refund won’t be possible if the details mentioned in the application form and the documents mentioned don’t match.</p>

<h6>Refunds: Duplicate payment</h6>
<p>Refund of the duplicate payment made by the customer will be processed via the same source (original method of
payment) within 5 to 7 working days after intimation by the customer.</p>
<b>Note: All refunds will be processed within 30 days of receipt of the refund request.</b>

<h6>Contact Program Policy</h6>
<p>Contact programs wherever applicable, shall be conducted in batches and therefore may not start immediately after
completion of study modules. This may result in an extended duration of the entire course.<br>
There shall be a minimum batch size to conduct contact program. In the event of the batch size is below the minimum
number, contact program shall be moved to the next batch. E-Physioneeds reserves the right to cancel in case of force-
majeure (like floods, earthquakes, political instability, etc.)or in case of unforeseen circumstances.<br>
Eligible candidates shall be informed about the dates of Contact programs in advance via e-mail. Once intimated, it is
necessary for the candidate to confirm attendance of contact program via e-mail so that necessary arrangements can be
done. Failure of attendance on acceptance will be considered as a lost chance.<br>
In the event a candidate is not able to attend the contact program, E-Physioneeds shall not be held responsible. E-
Physioneeds shall try to accommodate such candidates in the contact program for subsequent batch on request but shall
not be liable to do so.</p>
<h6>Contact Program Eligibility Policy</h6>
<p>• The student has to start/complete the Contact Program if applicable within the course duration, and a maximum
extension of 2 months will be given to start/complete the same.<br>
• Students will not be allowed for the Contact Program and CP/Final certificate will be withheld if there is any fee
pending.<br>
• CP certificate will be issued for only those students who attend the contact program with a 90% attendance.<br>
• Students will get the log books verified and signed by the trainer wherever applicable and submit the same to E-
Physioneeds.<br>
• Online modules to be completed before attending VIVA.</p>
<h6>Certificates</h6>
<p>A high-resolution version of the certificate can be downloaded from the LMS by the student.</p>

Examination policy
The scope of this policy extends to all Courses at E-Physioneeds and is described under the following headings.
Part A: Online Module Assessments
Part B: Online Final Assessment
Part C: Offline Theory and Viva Examinations(if applicable)
Objectives
The objective is to ensure that all students complete the examinations/ assessments within the duration of the course
thereby resulting in better course completion and contributing to the overall satisfaction of the student.
Part A: Online Module Assessments: This is applicable to all courses at E-Physioneeds.
• Eligibility: Student should have completed learning the respective module content.
• Number of examination attempts: While there is no restriction on the number of attempts to clear the online module
assessments, students are advised to complete them within the course duration.
• Examination pattern: All online assessments are MCQ based. 60% in each assessment is the minimum pass mark to
clear the assessment.
Part B: Online Final Assessment: This is applicable to all courses at E-Physioneeds.
• Eligibility: Student should have cleared all the module assessments.
• The number of examination attempts: There will be a total of three attempts allowed to clear the final online
assessment.
• Examination pattern: It will be an MCQ based assessment and a minimum of 60% is required to clear the assessment.
Part C: Offline Examinations: This is applicable to contact courses at E-Physioneeds. There are offline theory and viva
examinations.
• Eligibility: Student should have completed one year of the course duration, completed all the online module
assessments with a minimum of 60% in each, completed the contact program of one year with a minimum 90%
attendance with duly signed logbook by the trainer.
• Results: Results of the theory examination will be announced on mail confirming their eligibility for the viva.
Note: There is no re-evaluation policy for both online and offline examinations. Failing candidates need to retake their
examination.

Privacy Policy

If you require any more information or have any questions about our privacy policy, please feel free to contact us by
email at support@e-physioneeds.com
We consider the privacy of our visitors to be extremely important. This privacy policy document describes in detail the
types of personal information that is collected and recorded by www.e-physioneeds.com and how we use it.
Log file

Like many other Web sites, www.e-physioneeds.com makes use of log files. These files merely logs visitors to the site –
usually a standard procedure for hosting companies and a part of hosting services analytics. The information inside the
log files includes internet protocol (IP) addresses browser type, Internet Service Provider (ISP), date/time stamp,
referring/exit pages, and possibly the number of clicks. This information is used to analyze trends, administer the site,
track users movement around the site, and gather demographic information. IP addresses, and other such information are
not linked to any information that is personally identifiable.
Cookies and Web Beacons
www.e-physioneeds.com uses cookies to store information about visitors preferences, to record user-specific information
on which pages the site visitor accesses or visits, and to personalize or customize our web page content based upon
visitors browser type or other information that the visitor sends via their browser.
DoubleClick DART Cookie
 Google, as a third party vendor, uses cookies to serve ads on www.e-physioneeds.com 
 Google’s use of the DART cookie enables it to serve ads to our site’s visitors based upon their visit to www.e-
physioneeds.com  and other sites on the Internet.
 Users may opt out of the use of the DART cookie by visiting the Google ad and content network privacy policy at the
following URL – http://www.google.com/privacy_ads.html
These third-party ad servers or ad networks use technology in their respective advertisements and links that appear on
www.e-physioneeds.com and which are sent directly to your browser. They automatically receive your IP address when
this occurs. Other technologies (such as cookies, JavaScript, or Web Beacons) may also be used by our sites third-party
ad networks to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that
you see on the site.
Third Party Privacy Policies
You should consult the respective privacy policies of these third-party ad servers for more detailed information on their
practices as well as for instructions about how to opt-out of certain practices. www.e-physioneeds.com privacy policy
does not apply to, and we cannot control the activities of such other advertisers or web sites.
If you wish to disable cookies, you may do so through your individual browser options. More detailed information about
cookie management with specific web browsers can be found at the browsers respective websites.
Children’s Information
We believe it is important to provide added protection for children online. We encourage parents and guardians to spend
time online with their children to observe, participate in and/or monitor and guide their online activity. www.e-
physioneeds.com does not knowingly collect any personally identifiable information from children under the age of 13. If
a parent or guardian believes that www.e-physioneeds.com has in its database the personally-identifiable information of a

child under the age of 13, please contact us immediately (using the contact in the first paragraph) and we will use our best
efforts to promptly remove such information from our records.
Online Privacy Policy Only
This privacy policy applies only to our online activities and is valid for visitors to our website and regarding information
shared and/or collected there. This policy does not apply to any information collected offline or via channels other than
this website.
Consent
By using our website, you hereby consent to our privacy policy and agree to its terms.
Update
This Privacy Policy was last updated on June 3 rd , 2020. Should we update, amend or make any changes to our privacy
policy, those changes will be posted here.
</section>
{%endblock %}